<h1>云旅通</h1>

<% if signed_in? %>
    <h1> 欢迎 <%= current_user.mobile %> </h1>
    <%= link_to "注销", destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to "登陆", new_user_session_path %>
<% end %>
